<!-- cambiar la consistencia  -->
<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id</th>
            <th>Decoraciones</th>
        </tr>
    </thead>
    <tbody>
        {% for decoracion in decoraciones %}
        <!-- ng-repeat, solo cambiar el nombre  -->
        <tr>
            <td scope="col">{{ decoracion.idDecoracion }}</td>
            <td scope="col">{{ decoracion.nombreMaterial }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
